# Requirements for the development environment
# Usage: pip install -r requirements.txt


# library object detection algorithm
ultralytics==8.0.196
# and library for computer vision tasks in Python.
opencv-python
# and library to download dataset
roboflow
# and library of arrays 
numpy
# and library to make graphics
matplotlib